<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/ianks/octodown/master/assets/favicon.png" type="image/png" />

    <%= highlight_stylesheet %>
    <%= stylesheet %>

    <script type='text/javascript'>
      'use strict';

      document.addEventListener("DOMContentLoaded", function() {
        var ws = null;
        var interval = 2500;

        function start() {
          ws = new WebSocket(<%= host %>);

          ws.onmessage = function(event) {
            var body =  document.querySelector('article.markdown-body');
            if (body) body.innerHTML = event.data;
          };

          ws.onclose = function() {
            check();
          };
        }

        function check(){
          if(ws.readyState == 3) start();
        }

        start();

        setInterval(check, interval);
      });
    </script>

  </head>

  <body>
    <div class="container" style="margin-top: 20px;">
      <div class="repository-content ">
        <div id="readme" class="readme boxed-group clearfix announce instapaper_body md">
          <h3>
            <svg class="octicon octicon-book" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"/></svg>
            README.md
          </h3>
          <article class="markdown-body entry-content">
            <%= rendered_markdown %>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
