<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/ianks/octodown/master/assets/favicon.png" type="image/png" />

    <%= highlight_stylesheet %>
    <%= stylesheet %>
    <%= vendor %>

    <script type="text/javascript">
      var socket = new WebSocket(<%= host %>);

      socket.onmessage = function(event) {
        $(".markdown-body").html(event.data)
      };
    </script>
  </head>

  <body>
    <article class="markdown-body">
      <%= rendered_markdown %>
    </article>
  </body>
</html>
